.rank_card .ant-card-body{
  padding: 5px;
}

.panel_content p{
  margin-bottom: 3px;
}

.rank_card .ant-collapse-content-box {
  padding-top: 4px;
  padding-bottom: 4px;
}

.rank_card ,.rank_card .ant-card-head {
  background: #f8f8f9;
}

.rank_card .ant-collapse{
  background: #f8f8f9;
}
