.img_rank_card .ant-card-body{
  padding: 10px;
}

.img_rank_card .ant-card-body div{
  margin-bottom: 3px;
}

.img_rank_card ,.img_rank_card .ant-card-head {
  color: #1c2438;
  background: #f8f8f9;
}
