.loginCard { 
    overflow: hidden;
    .login_avatar {
        width: 70px;
        text-align: center;
        line-height: 40px;
        margin-right: 10px;
        float: left;
        img {
            vertical-align: middle;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    .login_content {
        overflow: hidden;
    }
    ul {
        padding: 15px 0;
        li { margin-bottom: 6px; }
    }
    .onLine { 
        
        .onLine_head {
            text-align: center
        }
        .onLine_body{
            p { margin-bottom: 6px; }
        }
    }
}

.tabs {
    padding: 0 2px;
    margin: 0 -2px;
    .ant-tabs-bar {
        border-bottom: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    :global {
      .ant-tabs-tab {
        font-size: 16px;
        line-height: 24px;
        
      }
      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 34px;
      }
      .ant-form-item {
        margin-bottom: 24px;
      }
    }
}

.login-form {
    .ant-form-item {
        margin-bottom: 10px;
    }
}

.myicon{
    color: #fff;
    cursor: pointer;
} 